.toast {
    position: fixed;
    top:16px;
    right: 20;
    background: rgb(39, 48, 84);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
  }
  
  .toast-success {
    color: #28a745; /* Green for success */
  }
  
  .toast-error {
    color: #dc3545; /* Red for errors */
  }
  
  .toast-warning {
    background-color: #ffc107; /* Yellow for warnings */
    color: black;
  }
  
  .toast-info {
    background-color: #17a2b8; /* Blue for informational messages */
  }
  